@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Mulish:wght@300;400&family=Playfair+Display:wght@700&display=swap");

:root {
  --primary-color: #fb8f1d;
  --secondary-color: #202336;
  --secondary-light: #7d7987;
  --secondary-lighter: #b8becd;
  --tertiary-color: #ffffff;
  --overlay: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter", "Mulish", "Playfair Display", sans-serif;
  background-color: var(--tertiary-color);
}

h1,
h2,
h3 {
  color: var(--secondary-color);
}

p {
  font-family: "Mulish";
  color: var(--secondary-light);
  line-height: 2;
}

h1 {
  font-family: "Playfair Display";
  font-size: 4rem;
  width: 30rem;
}

h2 {
  font-family: "inter";
  font-weight: 600;
}

h3 {
  font-family: "inter";
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--secondary-lighter);
  transition: 0.5s;
}

ul {
  list-style-type: none;
}

a:hover,
a:active {
  color: var(--secondary-color);
}

select {
  color: var(--secondary-color);
}

button {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-style: none;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover,
button:active {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border-color: var(--primary-color);
  border-style: solid;
}

select,
button {
  font-family: "inter";
  font-weight: 400;
  font-size: 15px;
}
